<!doctype html>
<html>
<head>
    <style>
        welcome {
            background-color: black;
            text-align: center;
        }
              form {
                background-color: lightblue;
                padding: 30px;
                margin: 0 auto;
                width: 600;
                font: 16px sans-serif;
                border-radius: 10px;
            }
            h3 { 
    color: red;
    
}
    </style>
<title>
    User Signup
</title>
</head>
<body>
    <div class=mainbody>
        
    <h1> User Signup </h1>
    {% block content %}
</div>
    {% endblock %}
</body>
</html>